%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 products of our garden  
        %hr.star-primary
    .row
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"} 
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("Micro-greens.jpg", :alt =>"Edit Entry" )
        %p.quick-link Microgreens     
          
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("wheatgrass.jpg", :alt =>"Edit Entry" )
        %p.quick-link Wheat grass    
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("herbs.jpg", :alt =>"Edit Entry" )
        %p.quick-link Exotic Herbs    
      