%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 our assistance for you  
        %hr.star-primary
    .row
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"} 
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("warehouse.png", :alt =>"Edit Entry" )
        %p.quick-link Locate Ware House     
          
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("rate.png", :alt =>"Edit Entry" )
        %p.quick-link Get latest Mandi Rate    
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "/#"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          .img-responsive
            =image_tag("org-crop.png", :alt =>"Edit Entry" )
        %p.quick-link Discuss    
      