%header
  .container
    .intro-text
      .intro-lead-in= t(:tag_line)
      .intro-heading= t(:caption)
      = render 'frontend/rides/search_box'
            

:javascript

jQuery(function() {
  var completer;

  completer = new GmapsCompleter({
    inputField: '#gmaps-input-address',
    errorField: '#gmaps-error'

  });

  completer.autoCompleteInit({
    country: "in"
  })

  particlesJS.load('particles-js', 'assets/particles.json', function() {
    console.log('callback - particles.js config loaded');
  }); 
});

   