- model_class = Ride
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12#location_filter
    .col-xs-12.col-sm-12.col-md-12.col-lg-9
      = render 'frontend/rides/search_box'
    .col-xs-12.col-sm-12.col-md-12.col-lg-3
      %button.btn.btn-default.btn-lg#advanced_filter_button
        %span.glyphicon.glyphicon-filter{"aria-hidden" => "true"} Advanced Filter

.sk-rotating-plane#ride_spinner{:style => "display:none;"}

.row.no-gutter
  .col-lg-6.col-md-6.col-sm-6.hidden-xs
    #map
  .col-xs-12.col-sm-12.col-md-12.col-lg-6#advance_filter{:style => "display:none;"}    
    = render 'frontend/rides/advance_filter'
  .col-lg-6.col-md-6.col-sm-6
    #main-list
      %ul.media-list
        #ride
        #rides
          = render :partial => 'ride', :locals => {:rides => @rides} 
        

:javascript
  $(document).ready(function(){
    var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json });
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });

  //For date picker in the filter 
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
  
  //Instated of date time now we are only going to take date 
  // to filter out;
  /* $(function () {
  /     $('#datetimepicker6').datetimepicker();
  /     $('#datetimepicker7').datetimepicker({
  /         useCurrent: false //Important! See issue #1075
  /     });
  /     $("#datetimepicker6").on("dp.change", function (e) {
  /         $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
  /     });
  /     $("#datetimepicker7").on("dp.change", function (e) {
  /         $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
  /     });
  / }); */ 