%p{:style => "padding-top: 50px;"}
.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        %p.large We are working hard to get the live Mandi price
        .sk-rotating-plane#ride_spinner  
    .col-xs-12.col-sm-12.col-md-12.col-lg-12    
      .sk-rotating-plane#ride_spinner