/ About Section
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 Microgarden
        %h3 Food with purpose
        %hr.star-light
    .row
      .col-lg-8.col-lg-offset-2
        %p.large We produce Microgreens, which are absolutely delicious tiny edible plants that are older than a sprout, but younger than a full-grown plant. Microgreens are harvested after the first “true” leaves have developed.   
    %br 
    .row
      .col-lg-4.col-lg-offset-2
        %p.large 
          %li FRESHER, TASTIER, locally grown super food
          %li Organically grown, no pesticides
          %li Locally grown super food

      .col-lg-4
        %p.large Everyone deserves food that’s healthy, craveable, and clean for you and the planet.
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "/products"}
          %i.fa.fa-download
            What's Growing Now