/ About Section
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About Charkhaa
        %hr.star-light
    .row
      .col-lg-8.col-lg-offset-2
        %p.large One stop shop solution through online platform enabling each farmers to have direct access to live price information
        %p.large Enable farmers to sell their produce directly to end users.      
    %br 
    .row
      .col-lg-4.col-lg-offset-2
        %p.large 
          %li updates on mobile phone thrice in a week
          %li Warehouse facility for the farmers
          %li Grading and sorting facility which ensure best price

      .col-lg-4
        %p.large Information provided to the farmers based on their current agriculture practices farmers and local agronomics.
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "/rides"}
          %i.fa.fa-download
            Today's Mandi Price 