/ About Section
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About Cycle Yard
        %hr.star-light
    .row
      .col-lg-8.col-lg-offset-2
        %p All of that above started with a simple thoughts in our mind: HIRO
        %p Have it? Rent it out
        %p Instead of having those cycles collect dust in your garage when you’re not using them, you can rent them out and make some money.      
    %br   
    .row
      .col-lg-4.col-lg-offset-2
        %p A renter have to upload few details of his bike with pictures and some other information such as location, rent value, availability calendar etc. A rider will search available rides in his nearby location and could request for a ride with date & time slot.

      .col-lg-4
        %p If renter approves the request then rider have to pay through our website to confirm the booking. Rider and renter can discusses among them suitable point of pick up and return bike. After ride both can provide feedback to each other.
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "/rides"}
          %i.fa.fa-download
          Book Your Ride 