%p{:style => "padding-top: 50px;"}
.container{:style => "text-align: center;"}
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        %p.large We are working hard to share live status with you ...
        %p.large Till then get in touch @ +91-9933522250
      %p{:style => "padding-top: 100px;"}
      .row
        .col-xs-2.col-sm-6.col-md-6.col-lg-4
          .sk-rotating-plane#ride_spinner
        .col-xs-2.col-sm-6.col-md-6.col-lg-4    
          .sk-rotating-plane#ride_spinner
        .col-xs-2.col-sm-6.col-md-6.col-lg-4    
          .sk-rotating-plane#ride_spinner  
