-# navigation styled for Bootstrap 3.0
%body#page-top.index
  %nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          Menu
          %i.fa.fa-bars
        = link_to 'Microgarden', root_path, class: 'navbar-brand logo-bg logo-img-bg brand-style'
      / Collect the nav links, forms, and other content for toggling
      = render 'layouts/frontend/navigation_links'
      

