// Place all the styles related to the frontend/Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ride-image {
  float: left;
}

ride_image {
  text-align: -webkit-center;
}

li.list {
  height: 50px;
}

.btn-group{
  display: block;
}

ul.multiselect-container.dropdown-menu {
    background-color: rgb(250, 247, 255);
}

textarea#ride_description {
    height: 353px;
}
.jumbotron {
    position: relative;
    //background: #000 url("jumbotron-bg.png") center center;
    width: 100%;
    height: 50%;
    background-size: cover;
    overflow: hidden;

 
}

 .jumbotron.jumbotron-md-cover{
    min-height:450px;
    max-height:700px
  }  


.trim {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timer_box {
    margin: 26px 10px;
    margin-top: 14px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 20px 12px 0px 12px;
    text-align: center;
    width: 117px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.6);
}
.timer_box h1{
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}
.timer_box p{ margin-top: 0px;}

.padded-top {
    padding-top: 80px;
}

.panel-action {
    float: right;
    padding-top: 12px;
}

.footer-action {
  text-align: -webkit-right;
}

.panel-container.no-border {
  margin: -17px;
}

label.info {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right;
    float: left;
    clear: both;
    margin-right: 15px;
}

.pading-15 {
  padding-top: 15px;
}


#ride_marker{
  height: 300px;
}

#owner_profile_pic{
  height: 208px;
}

.no-padding{
  padding: 0px;
}    

.img-blur {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    height: 70%;
    width: 95%;
    display: block;
    position: absolute;
    overflow: hidden;
}

.panel-profile .profile img {
    position: relative;
    margin: 0 auto;
}

.ride-caption {
    background-color: rgba(0, 0, 0, 0.38);
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ride-caption {
    position: absolute;
    width: 100%;
    bottom: 1px;
    left: 0px;
    margin: 0 auto;
    color: white;
    z-index: 412;
}

.ride-details-caption {
    background-color: rgba(0, 0, 0, 0.38);
    /* position: absolute; */
    width: 100%;
    bottom: 1px;
    left: 0px;
    margin: 0 auto;
    color: white;
    z-index: 412;
}

.caption-text {
  margin-left: 6px;
}
#display_ride{
  padding-bottom: 15px;
}

#event_form {
    padding: 10px;
    padding-left: 15px; 
    padding-right: 0px;
}    


#modify_form {
    padding: 10px;
    padding-left: 15px; 
    padding-right: 0px;
}

#spacer-5 {
    padding: 10px;
}

.disabled_events{
    background-color: rgba(229, 229, 229, 0.4);
    color: #FFFFFF;
    cursor: default;
}


#particles-js {
    width: 100%;
    padding: 0px;
    top: 70px;
    z-index: 99;
    position: absolute;
    /*background-color: #EDE9E8;*/
}

#location_filter{
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 12px;
}

.no-padding{
    margin-left: 0px; 
    margin-right: 0px; 
}


.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); 
  } 
}


.padded-top-small{
  padding-top: 10px;
}
#no-padding{
  padding: 0px;
}
.no-left-pad {
    padding-left: 0;
}
.no-right-pad {
    padding-left: 0;
}
.card{
  height: 120px;
  transition: linear all .2s;
  top: 0;
  color: #1a1a1a;
  position: relative;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.spacer{
  padding: 20px;
}

.card-img{
  height: 100px;
}

.hr-small{
  margin-top: 10px;
  margin-bottom: 10px;
}   

.ride-list-image {
  height: inherit;
}   